/* general */

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

.container .narrow {
  max-width: 960px;
}

.page {
  position: relative;
}

.page::before {
  content: attr(class);
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  padding: .25em 1.25em;
  background-color: rgba(255, 255, 255, .75);
  color: #1c2646;
  text-align: right;
}

/* header */

header .navbar .container {
  margin-top: 1em;
}

header .navbar .navbar-brand img {
  width: 160px;
}

header .navbar .navbar-toggler {
  margin-top: 25px;
}

header .navbar .navbar-collapse {
  margin-left: 40px;
}

header .navbar .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  margin-right: 40px;
  border-bottom: 3px solid transparent;
}

header .navbar .navbar-nav-aux .nav-link {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #1c2646;
  margin-right: 40px;
}

header .navbar .navbar-nav-main .nav-link {
  letter-spacing: 1px;
  line-height: 16px;
  color: #1c2646 !important;
  font-size: 22px;
  font-weight: bold;
}

header .navbar .navbar-nav-main .nav-link:hover {
  border-bottom: 3px solid #009dba;
}

header .navbar .dropdown-toggle::after {
  display: none;
}

header .navbar .dropdown-menu {
  padding: 45px 180px 55px 40px;
  border-top: white;
}

header .navbar .dropdown-menu .dropdown-item {
  padding: 10px;
}

header .nav.language .nav-item .nav-link {
  padding-right: 0;
  color: #1c2646;
  font-weight: bold;
}

header .search .bi {
  color: #1c2646;
  margin-right: 15px;
}

header .quote {
  border: 2px solid #1c2646;
  color: #1c2646;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
}

header .quote:hover {
  color: #fff;
  background-color: #1c2646;
  border-color: #1c2646;
}



/* page-home */

.page-home .jumbo {
  background-image: url("../img/IMG_0160-scaled.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-home .jumbo h1 {
  text-transform: uppercase;
}

.page-home .jumbo .lead {
  font-size: 35px;
  text-transform: lowercase;
}

.page-home .jumbo .btn {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  background-color: #07daff;
  border-radius: 20px;
}

.page-home .jumbo .btn:hover {
  border-color: #1c2646;
  background-color: #017488;
}

.page-home .caption {
  color: #54565a;
  font-size: 18px;
  padding: 0 2em;
}

.page-home .brands {
  color: #848485;
  background-color: #f4f4f6;
}

.page-home .brands .text {
  font-size: 22px;
  color: #828283;
  text-align: center;
  padding-top: 2em;
}

.page-home .brands .col-md-3 {
  padding: 0 25px
}

.page-home .brands .item {
  position: relative;
  background-color: white;
  transition: margin 250ms;
}

.page-home .brands .item:hover {
  margin-top: -12px;
}

.page-home .brands .item img.logo {
  padding: 1em 0;
  display: block;
  width: auto;
  height: 60px;
  margin: 0 auto 0 auto;
  border-bottom: 1px gray solid;
}

.page-home .card-article.featured {
  background-color: rgb(205, 231, 238);
  border: none;
}

.page-home .brands .item a img {
  padding: 1em 0;
  display: block;
  width: auto;
  height: 180px;
  margin: 0 auto;
}

.page-home .content {
  padding: 70px;
}

.page-home .content p {
  font-size: 18px;
}

.page-home .card-article .container .row {
  display: block;
}

.page-home .box-share  {
  margin: 2em 0;
}

.page-home .box-share .share {
  text-decoration: none;
}

.page-home .bi-share-fill {
  color: #1c2646;
  font-size: 18px;
}

.page-home .box-share .widgate-title {
  text-transform: uppercase;
  margin-left: .5em;
  font-weight: bold;
  font-size: 18px;
  color: #1c2646;
}

@media (min-width: 768px) {
  .page-home .card-article .container .row {
    display: flex;
  }
}


/* page-category */

.page-category {
  margin-top: 3em;
  border-bottom: rgb(190, 225, 248);
}

.page-category .container .row {
  display: block;
}

.page-category .card-article.featured {
  background-color: rgb(205, 231, 238);
  border: none;
}

.page-category .content {
  padding: 70px;
}

.page-category .card .content p {
  font-size: 18px;
}

.page-category .image-jlg .jlg {
  width: 120px;
  height: 40px;
}

.page-category .text {
  color: #585a54;
  font-size: 18px;
}

.page-category .person-info {
  margin: 10px 0 0 20px;
}

.page-category .contact h5 {
  text-transform: uppercase;
  color: #969494;
  letter-spacing: 3px;
  font-size: 14px;
}

.page-category .person-info span {
  font-size: 20px;
  font-weight: bold;
}

.page-category .person-info em {
  display: flex;
  font-size: 16px;
  font-weight: 100;
  color: #969494;
  font-style: normal;
  line-height: 16px;
}

.page-category .website {
  color: rgb(79, 157, 206);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.page-category .person-image .photo {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.page-category .item {
  display: flex;
}

.page-category .person-contact .bi {
  color: rgb(165, 164, 164);
  margin-right: 1em;
}

.page-category .person-contact .phone {
  color: #1c2646;
  font-size: 14px;
}

.page-category .person-contact .mail {
  color: #1c2646;
  font-size: 14px;
}

.page-category .contact-form-link .btn {
  background-color: white;
  color: #1c2646;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border-color: #1c2646;
  border-width: 2px;
  letter-spacing: 1px;
}

.page-category .contact-form-link .btn:hover {
  color: #fff;
  background-color: #1c2646;
  border-color: #1c2646;
}

.page-category .category h4 {
  font-size: 16px;
  color: #2d3e77;
  font-weight: bold;
  text-transform: uppercase;
}

.page-category .category {
  margin-top: 1.5em;
}

.page-category .category .item {
  border: 1px solid rgb(229, 226, 226);
  margin-top: 1em;
}

.page-category .category .item:hover {
  border-color: #1c2646;
}

.page-category .category .item h4 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 22px;
  margin-top: 1em;
}

.page-category .category .item p {
  padding-right: 2em;
  text-transform: none;
  font-size: 16px;
  margin: .5em 0;
  color: #54565a;
}

.page-category .category .item {
  position: relative;
}

.page-category .category .item .stretched-link {
  text-decoration: none;
  color: #1c2646;
}

.page-category .category .item .open {
  position: absolute;
  top: 6px;
  right: 9px;
  color: gray;
}

.page-category .category .item img {
  margin: 1em 0 1em 1em;
  width: 120px;
  height: 160px;
  background-color: rgb(192, 191, 191);
}

.page-category .category .item .website {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #293766;
  font-size: 16px;
  margin-bottom: .75em;
  display: inline-block;
}

.page-category .box-share  {
  margin: 2em 0;
}

.page-category .box-share .share {
  text-decoration: none;
}

.page-category .bi-share-fill {
  color: #1c2646;
  font-size: 18px;
}

.page-category .box-share .widgate-title {
  text-transform: uppercase;
  margin-left: .5em;
  font-weight: bold;
  font-size: 18px;
  color: #1c2646;
}

@media (min-width: 768px) {
  .page-category .container .row {
    display: flex;
  }
  .page-category .contact {
    padding-left: 2.5em;
  }
}



/* page-product */

.page-product .page-title {
  background-color: rgb(205, 231, 238);
  margin: 0 0 2em 0;
  padding: 1em 0;
}

.page-product .page-title h3 {
  padding-top: 0.3em;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.page-product .page-title em {
  padding-top: .6em;
  color: #999;
  font-size: 16px;
}

.page-product .page-title .bi {
  font-size: 30px;
  color: black;
}

.page-product .page-title a:hover .bi {
  color: #fff;
}

.page-product .page-title .btn {
  background-color: #fff;
  border-radius: 100%;
  border-color: white;
}

.page-product .page-title .btn:hover {
  background-color: #009dba;
}

.page-product .page-title .btn .bi {
  margin-left: 0;
  font-size: 20px;
}

.page-product .heading {
  border-bottom: 2px solid #cde7ee;
  margin-bottom: 1em;
  padding-top: 1em;
}

.page-product .heading h1 {
  margin: 0;
  text-transform: uppercase;
}

.page-product .heading img {
  float: right;
  max-width: 90px;
}

.page-product .contact h5 {
  text-transform: uppercase;
  color: #969494;
  letter-spacing: 3px;
  font-size: 14px;
}

.page-product .person-info {
  margin: 10px 0 0 20px;
}

.page-product .person-info span {
  font-size: 20px;
  font-weight: bold;
}

.page-product .person-info em {
  display: flex;
  font-size: 16px;
  color: #969494;
  font-style: normal;
  font-weight: 100;
  line-height: 16px;
}

.page-product .contact p {
  color: grey;
  font-size: 18px;
}

.page-product .contact .item {
  display: flex;
}

.page-product .contact .photo {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  margin-top: 10px;
}

.page-product .person-contact .bi {
  color: grey;
  margin-right: 1em;
}

.page-product .person-contact .phone {
  color: #1c2646;
}

.page-product .person-contact .mail {
  color: #1c2646;
}

.page-product .product-info .item {
  display: flex;
  font-size: 12px;
  line-height: 1.2;
  margin: 0 0 1em 0;
  back
}

.page-product .product-info .item i {
  color: rgb(190, 190, 190);
  font-size: 25px;
  padding-top: 3px;
}

.page-product .product-info .item span {
  margin-left: 5px;
  flex-grow: 1;
  text-transform: uppercase;
  color: grey;
  letter-spacing: 1px;
}

.page-product .product-info .item em {
  display: block;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  color: rgb(78, 78, 78);
  text-transform: none;
}

.page-product .row .btn {
  background-color: white;
  color: #1c2646;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border-color: #1c2646;
  border-width: 2px;
  letter-spacing: 1px;
}

.page-product .row .btn:hover {
  color: #fff;
  background-color: #1c2646;
  border-color: #1c2646;
}

.page-product .product-list {
  border-top : 2px solid #cde7ee;
  margin-top: 2em;
  padding-top: 1.5em;
}

.page-product .product-list .title {
  margin: 1em 0 2em 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.page-product .product-list .item {
  position: relative;
  border: 1px solid #ccc;
  margin: .5em 0;
  padding: 3px;
}

.page-product .product-list .item:hover {
  border-color: #1c2646;
}

.page-product .product-list .item .byline {
  padding: 1em 0 0 1.5em;
}

.page-product .product-list .item .category {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(150, 150, 150);
  letter-spacing: 1px;
  font-size: 12px;
}

.page-product .product-list .stretched-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: black;
  font-weight: 700;
  font-style: italic;
}

.page-product .product-list .photo {
  height: 80px;
  width: 75px;
  background-color: rgb(201, 200, 200);
}

.page-product .product-list .product-info {
  margin-top: 1.5em;
}

.page-product .product-list .product-info .item {
  position: initial;
  border: none;
  margin: .25em 0 0 0;
  padding: 0;
}

.page-product .box-share  {
  margin: 2em 0;
}

.page-product .box-share .share {
  text-decoration: none;
}

.page-product .bi-share-fill {
  color: #1c2646;
  font-size: 18px;
}

.page-product .box-share .widgate-title {
  text-transform: uppercase;
  margin-left: .5em;
  font-weight: bold;
  font-size: 18px;
  color: #1c2646;
}

@media (min-width: 768px) {
  .page-product .contact {
    padding-left: 2.5em;
  }
}




/* page-artikle */


.page-article .article-header {
  background-color: rgb(205, 231, 238);
  margin: 2em 0 3em 0;
}

.page-article .article-header .row {
  display: block;
}

@media (min-width: 768px) {
  .page-article .article-header .row {
    display: flex;
  }
}

.page-article .article-header .content {
  padding: 70px;
}

.page-article .article-header .content p {
  font-size: 18px;
}

.page-article .container .text {
  color: #7e7a7a;
  font-size: 18px;
}

.page-article .featured-contacts .contact h5 {
  text-transform: uppercase;
  color: #969494;
  letter-spacing: 3px;
  font-size: 14px;
}

.page-article .featured-contacts .person-info {
  margin: 10px 0 0 20px;
}

.page-article .featured-contacts .person-info span {
  font-size: 20px;
  font-weight: bold;
}

.page-article .featured-contacts .person-info em {
  display: flex;
  font-size: 16px;
  color: #969494;
  font-style: normal;
  font-weight: 100;
  line-height: 16px;
}

.page-article .person-contact .bi {
  color: grey;
  margin-right: 1em;
}

.page-article .person-contact .phone {
  color: #1c2646;
}

.page-article .person-contact .mail {
  color: #1c2646;
}

.page-article .featured-contacts .person-image .photo {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

.page-article .featured-contacts ul {
  margin-bottom: 2em;
}

.page-article .featured-contacts .item {
  display: flex;
}

.page-article .box-share  {
  margin: 2em 0;
}

.page-article .box-share .share {
  text-decoration: none;
}

.page-article .bi-share-fill {
  color: #1c2646;
  font-size: 18px;
}

.page-article .box-share .widgate-title {
  text-transform: uppercase;
  margin-left: .5em;
  font-weight: bold;
  font-size: 18px;
  color: #1c2646;
}

@media (min-width: 768px) {
  .page-article .contact {
    padding-left: 2.5em;
  }
}


/* page-news */

.page-news .header {
  padding: 1em 0;
  margin: 2em 0;
  background-color: rgb(205, 231, 238);
  text-align: center;
  text-transform: uppercase;
  height: 60px;
  letter-spacing: 3px;
  font-weight: bolder;
}

.page-news .card-article {
  border: none;
}

.page-news .card-article .row {
  display: block;
}

@media (min-width: 768px) {
  .page-news .card-article .row {
    display: flex;
  }

  .page-news .card-article .col.content {
    flex-grow: 1.2;
    padding-left: 3em;
  }
}


.page-news .card-article .col.content h3 {
  font-size: 33px;
}

.page-news .card-article .col.content p {
  font-size: 18px;
  color: #1c2646;
}

.page-news .card-article.flipped .content {
  order: -1;
  padding-left: 0;
}

.page-news .card-article.flipped .col.content h3 {
  font-size: 33px;
}

.page-news .card-article.flipped .col.content p {
  font-size: 18px;
  color: #1c2646;
}

.page-news .col.content .btn-outline-primary {
  width: 13em;
  color: black;
  border-color: black;
  border-width: 2px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

.page-news .col.content .btn-outline-primary:hover {
  color: #fff;
  background-color: #1c2646;
  border-color: #1c2646;
}

.page-news .container .card-article {
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-news .box-share  {
  margin: 2em 0;
}

.page-news .box-share .share {
  text-decoration: none;
}

.page-news .bi-share-fill {
  color: #1c2646;
  font-size: 18px;
}

.page-news .box-share .widgate-title {
  text-transform: uppercase;
  margin-left: .5em;
  font-weight: bold;
  font-size: 18px;
  color: #1c2646;
}


/* page-news-article */


.page-news-article .header {
  margin: 2em 0;
  padding-top: 1em;
  background-color: rgb(205, 231, 238);
  text-align: center;
  text-transform: uppercase;
  height: 60px;
  letter-spacing: 3px;
  font-weight: bolder;
}

.page-news-article .container h1 {
  padding-top: 1em;
}

.page-news-article .container .content {
  font-size: 18px;
}

.page-news-article .container .content .text {
  color: #1c2646;
  font-size: 20px;
}

.page-news-article .container .contact .item {
  display: flex;
}

.page-news-article .container .contact h5 {
  text-transform: uppercase;
  color: #969494;
  letter-spacing: 3px;
  font-size: 14px;
}

.page-news-article .container .person-info {
  margin: 10px 0 0 20px;
}

.page-news-article .container .person-info span {
  font-size: 20px;
  font-weight: bold;
}

.page-news-article .container .person-info em {
  display: flex;
  font-size: 16px;
  color: #969494;
  font-style: normal;
  font-weight: 100;
  line-height: 16px;
}

.page-news-article .contact .photo {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  margin-top: 10px;
}

.page-news-article .person-contact .bi {
  color: grey;
  margin-right: 1em;
}

.page-news-article .person-contact .phone {
  color: #1c2646;
}

.page-news-article .person-contact .mail {
  color: #1c2646;
}

.page-news-article .box-share  {
  margin: 2em 0;
}

.page-news-article .box-share .share {
  text-decoration: none;
}

.page-news-article .bi-share-fill {
  color: #1c2646;
  font-size: 18px;
}

.page-news-article .box-share .widgate-title {
  text-transform: uppercase;
  margin-left: .5em;
  font-weight: bold;
  font-size: 18px;
  color: #1c2646;
}

@media (min-width: 768px) {
  .page-news-article .contact {
    padding-left: 2.5em;
  }
}


/* page-contact */


.page-contact .header {
  margin: 2em 0;
  padding-top: 1em;
  background-color: rgb(205, 231, 238);
  text-align: center;
  text-transform: uppercase;
  height: 60px;
  letter-spacing: 3px;
  font-weight: bold;
}

.page-contact .featured-contacts .item {
  display: block;
}

.page-contact .featured-contacts .item h5 {
  font-weight: bold;
}

.page-contact .featured-contacts .item ul {
  color: grey;
  margin-bottom: 2em;
  font-size: 14px;
}

.page-contact .featured-contacts .item .phone  {
  color:#1c2646;
  margin-left: 1.5em;
}

.page-contact .featured-contacts .item .mail {
  position: relative;
  color:#1c2646;
  margin-left: 1.5em;
}



.page-contact .accordion-item {
  border: 1px solid #ccc !important;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0;
}

.page-contact .accordion-item .accordion-header {
  border-bottom: 0;
}

.page-contact .accordion-item .accordion-button {
  color: black;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
}

.page-contact .accordion-item .accordion-body {
  color: grey;
  margin: 0;
}

.page-contact .accordion-item .accordion-body .map {
  color:#1c2646;
}

.page-contact .accordion-item .accordion-body li {
  color: grey;
  font-size: 12px;
}

.page-contact .accordion-item .accordion-body .phone {
  color:#1c2646;
  margin-left: 1.5em;
}

.page-contact .accordion-body .mail {
  color:#1c2646;
  margin-left: 1.5em;
}

.page-contact .contact-form-link .btn {
  color: #1c2646;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: white;
  border-color: #1c2646;
  border-width: 2px;
  margin: 2em 0;
  font-size: 14px;
}

.page-contact .contact-form-link .btn:hover {
  color: #fff;
  background-color: #1c2646;
  border-color: #1c2646;
}

.page-contact .contact-tabs .v-cards h1 {
  font-size: 30px;
}

.page-contact .contact-tabs .v-cards .nav-item .nav-link {
  color: #1c2646;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  padding-right: .5em;
  padding-left: .5em;
}

.page-contact .contact-tabs .v-cards .nav-item .nav-link.active {
  border-bottom: 3px solid #1c2646;
}

.page-contact .contact-tabs .v-cards .nav-item .nav-link:hover {
  border-bottom: 3px solid #009dba;
}

.page-contact .contact-tabs .v-cards .group h5 {
  font-size: 16px;
  text-align: center;
  letter-spacing: 4px;
  color: gray;
  text-transform: uppercase;
  margin: 1em 0 1em 0;
}

.page-contact .contact-tabs .v-cards .group .items {
  border-top: 1px solid grey;
  padding-top: 1em;
}

.page-contact .contact-tabs .v-cards .group:first-child{
border-bottom: 1px solid grey;
}

.page-contact .contact-tabs .v-cards .group:last-child{
  border-bottom: 1px solid grey;
}

.page-contact .contact-tabs .v-cards .group .item {
  display: flex;
}

.page-contact .groups .group .person-image .photo {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.page-contact .groups .group .person-info {
  margin-left: 1em;
}

.page-contact .groups .group .person-info span {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: bold;
}

.page-contact .groups .group .person-info em {
  display: flex;
  font-size: 14px;
  color: #969494;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 10px;
  letter-spacing: 1px;
}

.page-contact .groups .group .person-contact .phone {
  color:#1c2646;
  font-size: 14px;
}

.page-contact .groups .group .person-contact .mail {
  color:#1c2646;
  font-size: 14px;
}

.page-contact .person-contact .bi {
  color: grey;
  margin-right: 1em;
}

.page-contact .box-share  {
  margin: 2em 0;
}

.page-contact .box-share .share {
  text-decoration: none;
}

.page-contact .bi-share-fill {
  color: #1c2646;
  font-size: 18px;
}

.page-contact .box-share .widgate-title {
  text-transform: uppercase;
  margin-left: .5em;
  font-weight: bold;
  font-size: 18px;
  color: #1c2646;
}

@media (min-width: 768px) {
  .page-contact .contact-tabs .v-cards {
    padding-left: 1em;
  }
}

/* footer */

footer {
  margin-top: 3em;
  background-color: #1c2646;
  color: rgba(255, 255, 255, .75);
}

footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, .75);
}

footer a:hover {
  text-decoration: underline !important;
}

footer .row-top .img {
  width: 200px;
  margin: 2em 0;
}

footer .row-top h5 {
  margin: 1em 0 .75em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}

footer .row-top li {
  margin-bottom: 10px;
}

footer .row-bottom li {
  margin-bottom: 1em;
}

footer .row-bottom .copyright a {
  margin-right: 1.5em;
}

@media (min-width: 768px) {
  footer .row-top .text {
    padding: 0 7em 0 0;
  }
}

@media (min-width: 992px) {
  footer .row-top > div:not(:first-child)  {
    padding-top: 60px;
  }
}
